---
import mainInfo from '../assets/josiah.webp';
import { Content as InfoMarkdowm } from '../content/page/info.md';
import { Content as Contact } from '../content/page/contact.md';
import BaseLayout from '../layouts/BaseLayout.astro';
import Experience from '../layouts/Experience.astro';
import RecentPosts from '../components/RecentPosts.astro';
import ScrollReveal from '../components/ScrollReveal';
---

<style>
  .main_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
  }

  .main_info img {
    object-fit: contain;
    max-width: 80%;
    border-radius: 2px;
    box-shadow:
      2.6px 2.8px 2.5px -50px rgba(0, 0, 0, 0.017),
      7.3px 7.6px 7px -50px rgba(0, 0, 0, 0.025),
      17.5px 18.4px 16.9px -50px rgba(0, 0, 0, 0.033),
      58px 61px 56px -50px rgba(0, 0, 0, 0.05);
  }

  .main_info p {
    text-decoration: underline;
    margin-top: 48px;
    margin-bottom: 16px;
  }

  .blog_info {
    padding: 12px;
  }

  @media (max-width: 768px) {
    .main_info img {
      max-height: 400px;
    }
  }
</style>

<BaseLayout
  title="首页"
  subtitle="你好，这里是 Josiah 的博客空间，用于纪录生活与技术分享，让我们多交流！Hi, I’m Josiah — welcome to my blog! This space is where I record life moments and share insights on technology."
>
  <div class="main_info">
    <img alt="josiah" width="500px" height="660px" src={mainInfo.src} />
    <p>愿我航向大海乘载你的信赖.</p>
  </div>
  <div class="blog_info">
    <ScrollReveal client:visible>
      <InfoMarkdowm />
    </ScrollReveal>
    <ScrollReveal client:visible>
      <RecentPosts />
    </ScrollReveal>
    <ScrollReveal client:visible>
      <h3>工作经历</h3>
      <Experience />
    </ScrollReveal>
    <ScrollReveal client:visible>
      <Contact />
    </ScrollReveal>
  </div>
</BaseLayout>
