---
import 'dayjs/locale/zh-cn';
import dayjs from 'dayjs';

const currentDate = dayjs();
// 格式化日期
const formattedDate = currentDate.format('MM月DD日 ddd') + ', 深圳';
---

<style>
	.box {
		margin: auto;
		max-width: var(--max-width);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.side {
		display: flex;
		gap: 16px;
	}

	.post {
		cursor: pointer;
	}

	.post:hover {
		opacity: 0.6;
	}

	#modeBtn {
		cursor: pointer;
	}
</style>

<script>
	const theme = (() => {
		0;
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme');
		}
		if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
			return 'dark';
		}
		return 'light';
	})();

	const btnID = 'modeBtn';
	const btnElement = document.getElementById(btnID);

	if (theme === 'light') {
		btnElement.setAttribute('src', '/sun.svg');
		document.documentElement.classList.remove('dark');
	} else {
		btnElement.setAttribute('src', '/moon.svg');
		document.documentElement.classList.add('dark');
	}

	window.localStorage.setItem('theme', theme);

	const handleToggleClick = (e) => {
		const src = e.target.src;
		const isMoon = src.endsWith('moon.svg');
		//	处理显示图标
		e.target.setAttribute('src', isMoon ? '/sun.svg' : '/moon.svg');
		//	更新css主题
		const element = document.documentElement;
		element.classList.toggle('dark');
		//	切换 localStorage 的存储变量
		const isDark = element.classList.contains('dark');
		localStorage.setItem('theme', isDark ? 'dark' : 'light');
	};

	document.getElementById('modeBtn').addEventListener('click', handleToggleClick);
</script>

<nav class="box">
	<p class="page_title">{formattedDate}</p>
	<div class="side">
		<p class="post">博客|Blog</p>
		<img id="modeBtn" src="/sun.svg" />
	</div>
</nav>
