---
import 'dayjs/locale/zh-cn';
import dayjs from 'dayjs';
import RssIcon from '../assets/rss.svg';

const currentDate = dayjs();
// 格式化日期
const formattedDate = currentDate.format('MM月DD日 ddd') + ', 深圳';
---

<style>
  .box {
    margin: auto;
    max-width: var(--max-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .side {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .post {
    cursor: pointer;
  }

  .page_title {
    font-size: 18px;
  }

  .page_title:hover,
  .post:hover {
    opacity: 0.6;
  }

  a {
    color: var(--header-color);
    text-decoration: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-end: 0;
    margin-inline-end: 0;
  }

  a:hover {
    color: var(--header-color);
  }

  .date_rss {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .rss_icon_x {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
  }

  .rss_icon {
    color: var(--header-color);
  }

  #modeBtn {
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .box {
      flex-direction: column;
      padding-block: 8px;
    }

    .page_title {
      margin-block: 0px;
    }

    .side a {
      margin-block: 0px;
    }
  }
</style>

<nav class="box">
  <div class="date_rss">
    <a href="/" class="page_title">{formattedDate}</a>
    <a href="/rss.xml" class="rss_icon_x">
      <RssIcon class="rss_icon" />
    </a>
  </div>
  <div class="side">
    <a href="/roadmap" class="post">Roadmap</a>
    <a href="/blog" class="post">Blog</a>
    <img alt="theme_mode" width="24px" height="24px" id="modeBtn" src="/sun.svg" />
  </div>
</nav>
