---
import BaseLayout from './BaseLayout.astro';

const { title } = Astro.props;
---

<style lang="scss" is:global>
	:root{
		--max-width: 760px;
	}

	.blog {
		font-size: 1rem;
		// 保证还有半页的阅读空间
		padding-bottom: 50vh;	
	}

	.blog img {
		max-width: 360px;
		display: block;
		border-radius: 2px;
		width: 100%;
		object-fit: contain;
		height: auto;
	}
	h1 {
		word-break: auto-phrase;
		font-size: 2.5rem;
	}

	h2 {
		word-break: auto-phrase;
		font-size: 1.8rem;
	}

	h3 {
		word-break: auto-phrase;
		font-size: 1.5rem;
	}

	h4 {
		word-break: auto-phrase;
		font-size: 1.2rem;
	}

	ul {
		padding-inline-start: 2em;
	}

	li {
	}

	blockquote {
		margin-inline-start: 0;
		margin-inline-end: 0;
		padding: 0.5em 1em;
		border-left: 4px solid var(--text-color);
	}

	pre {
		padding: 1em;
		border-radius: 0.2em;
		overflow-x: auto;
	}

	p {
		margin-inline-start: 0;
		margin-inline-end: 0;
		text-align: justify;
	}

	pre code {
		font-size: 12px;
		background-color: transparent;

		span{
			line-height: 1em;
		}
	}

	/*表格样式*/
	table {
		margin: 10px auto;
		width: 100%;
		text-align: left;

		border-collapse: collapse;
		border-radius: 2px;
	}
	th,
	td {
		padding: 4px 12px;
		height: 25px;
		border: 1px solid var(--text-color);
	}

	th:hover,
	td:hover {
		opacity: 0.9;
	}

	th {
		font-weight: bold;
	}
	tr:hover {
		opacity: 0.9;
	}

	.blog .line span {
		word-spacing: 1px;
	}

	@media (max-width: 1000px) {
    .blog {
			padding-inline: 36px;
    }
  }
</style>

<BaseLayout title={title}>
	<div class="blog">
		<slot />
	</div>
</BaseLayout>
